.loader {
  background: var(--clr-bg-primary);
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeout 700ms linear forwards 3s;
  opacity: 1;

  img {
    width: 84px;
  }
}

.loading-bar {
  width: min(40%, 220px);
  height: 6px;
  background: rgba(255, 255, 255, 0.575);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    bottom: 0;
    background: var(--clr-accent-neon);
    border-radius: var(--radius);
    animation: load 3s linear forwards;
  }
}

@keyframes load {
  to {
    left: 0;
  }
}
@keyframes fadeout {
  to {
    opacity: 0;
  }
}
