#About {
  width: 100%;
}
.about-content {
  width: 100%;
  background: var(--clr-bg-secondary);
  padding: clamp(2rem, 5vw, 4rem);
  border-radius: var(--radius);
}

.about-me-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.profile-image {
  border-radius: 100%;
  overflow: hidden;
  min-width: 240px;
  max-width: 140px;
  aspect-ratio: 1;
}

.profile-details .name {
  font-size: 2.5rem;
  line-height: 1.2;
}

.about-text {
  font-size: 14px;
  text-align: justify;
}

.social-links {
  display: flex;
  gap: 2rem;
  a {
    color: rgba(185, 185, 185, 0.658);
  }
  a:hover,
  a:active {
    color: var(--clr-accent-neon);
  }
}

@media (max-width: 768px) {
  .about-content {
    padding: 2rem 1rem;
    border-radius: 0%;
  }
  .about-me-card {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .social-links {
    justify-self: center;
    gap: 1rem;
  }

  .profile-image {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .about-content {
    padding: 1rem;
  }
  .about-me-card {
    padding: 0;
    gap: 0;
  }
  .about-me-card .profile-image {
    scale: 0.7;
  }
  .profile-details .name {
    font-size: 2rem;
    margin-top: 0;
  }
  .about-text {
    font-size: 12px;
    padding: 1rem;
  }
  .social-links {
    gap: 1rem;
    padding: 0.5rem;
  }
}
